.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 10;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 2;
}

.fieldContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.selectContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}
